* {
  margin: 0;
  padding: 0;
  color: #444
}

html, body {
  height: 100%;
  background: #f4f4f7
}

.navbar {
  background-color: #16a085;
  height: 9vh;
  margin-bottom: 1%;
}

a {
  margin-left: 5px;
  margin-right: 5px;
  color: white;
}

h1, h2, h3, h4, p {
  font-family: 'Oswald', sans-serif;
}

p {
  font-size: 20px;
}

h4 {
  color: #34495e;
}

#subBtn {
  cursor: pointer;
}

#editProfile {
  background-color: silver;
  padding: 2px;
  text-align: center;
  border-radius: 10%;
}

footer {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  background-color: #414a4f;
  padding: 10px 7px;
  font-size: 20px;
}

footer p {
  color: rgba(255, 255, 255, 0.6);
  margin: 0;
}

#heart {
  color: red;
  font-size: 30px;
}

@media (min-width: 1200px) {
  /*.container {
    max-width: 95%;
  }*/
}

@media (max-width: 767PX) {
  .navbar {
    height: auto;
  }
  .navbar>.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .form-inline {
    justify-content: center;
  }
}

/*///////////////////////////////////////////////////////////////////////////////////////////*/

.vid {
  width: 50%;
  height: 440px;
  margin: auto
}

@media (max-width: 500px) {
  .vid {
    height: 280px
  }
}

a:hover .quote-box {
  background-color: #f5f5f5
}

a:hover .quote-box::before {
  background-color: #f5f5f5
}

a:hover .quote-box::after {
  background-color: #f5f5f5
}
