#contents .blog .post {
    border: 0;
    padding-bottom: 0;
}
#contents .btn-center .btn{
    margin-right: 0;
    margin-top: 0;
}
#contents .portfolio-section .btn-center .btn{
    margin-top: 15px;
}

#wraper .content .green-marker {
    margin-right: 15px;
    font-size: 14px;
}

#wraper .content .red-marker {
    margin-right: 15px;
    font-size: 14px;
}

#wraper .content .orange-marker {
    margin-right: 15px;
    font-size: 14px;
}

#wraper {
    border-width: 1px;
    border-style: solid;
    margin: 50px auto;
    width: 1230px;
}

.wraper-card .head .logo-page {
    margin-right: 0;
    float: right;
}

.home-header .foto {
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    width: 232px;
    height: 232px;
    overflow: hidden;
    display: inline-block;
}

.home-header .foto img {
    width: 232px;
    height: 232px;
}

.home-header .title {
    text-transform: uppercase;
    margin-bottom: 0;
}

.home-header .sub-title {
    font-weight: 300;
    margin: 0;
    line-height: 34px;
}

.home-header .full-length-photo {
    margin-top: 24px;
}

.border-bottom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.padding-block {
    padding-top: 48px;
    padding-bottom: 48px;
}

.home-content .container {
    width: 100%;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
}

.home-content .row, .home-content .col-lg-7, .home-content .col-lg-5 {
    padding: 0;
    margin-right: 0;
    margin-left: 0;
}

.skills .row:first-of-type {
    margin-bottom: 30px;
}

.testimonials .row {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
}
.instagram-feed .row {
    margin: 0;
}


.text-right {
    text-align: right;
}

.home-header .foto {
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    width: 232px;
    height: 232px;
    overflow: hidden;
    display: inline-block;
}

.home-header .foto img {
    width: 232px;
    height: 232px;
}

.menu .menu-li .foto {
    display: block;
}
.menu-style1 .menu-li .foto {
    display: block;
    overflow: hidden;
    z-index: 4;
    position: relative;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.menu-style1 .menu-li:hover .foto {
    margin-top: -172px;
}

.head .foto {
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    width: 70px;
    height: 70px;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin-right: 30px;
}

.testimonials .foto {
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.social ul {
    padding: 0;
    margin: 12px 0;
}

.social li {
    display: inline-block;
    list-style: none;
}

.head .social ul {
    margin: 18px 0;
}

.head .social li {
    margin: 0 0 0 12px;
}

.head .social a {
    margin: 0;
}
.animated {
    visibility: hidden;
}
.visible {
    visibility: visible;
}
.ukie-icons {
    display: inline-block;
    font-size: 16px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin: 0px 7px 7px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
}

.ukie-icons:first-child {
    margin-left: 0px;
}

.ukie-icons:hover {
}

.hover-animate {
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.info .title {
    margin: 0 auto 30px;
}

.info .circle-block {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
}

.info .circle-block .icon {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    display: block;
    margin-bottom: 24px;

}

.info .circle-block .name {
    font-weight: 600;
}

.info .circle-block:hover .icon {
}

.info .circle-block:hover .name {
}
.border-bottom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.padding-block {
    padding-top: 48px;
    padding-bottom: 48px;
}
.text-center {
    text-align: center;
}
.home-header .title {
    text-transform: uppercase;
    margin-bottom: 0;
}
.head .title {
    margin: 0;
}
.content .title {
    margin: 0;
    line-height: 26px;
    margin-bottom: 16px;
}
.skills .title {
    margin: 0;
    line-height: 26px;
    margin-bottom: 16px;
}

.portfolio-item .title {
    margin: 0;
}

.info .title {
    margin: 0 auto 30px;
}
.info .circle-block {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
}
.info .circle-block .icon {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    display: block;
    margin-bottom: 24px;

}

.info .circle-block .name {
    font-weight: 600;
}

.info .circle-block:hover .icon {
}

.info .circle-block:hover .name {
}
.info .circle-block:hover .icon {
}
.hover-animate {
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.profile .head, .resume .head, .portfolio-header .head, .blog .head, .contact .head {
    border-top-width: 1px;
    border-top-style: solid;
}

.head {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.head .title {
    margin: 0;
}

.head .sub-title {
    margin: 0;
    font-weight: 300;
}

.head .logo-page {
    margin-right: 30px;
    float: left;
}

.head .btn-close {
    width: 36px;
    height: 36px;
    margin-top: 16px;
    margin-right: 16px;
    background-image: url("../img/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: inline-block;
    cursor: pointer;
}

.head .btn-close:hover {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.head .btn-close-search {
    width: 36px;
    height: 36px;
    margin-top: 16px;
    margin-right: 16px;
    background-image: url("../img/close-white.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    display: inline-block;
    cursor: pointer;
}

.head .btn-close-search:hover {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.head .social ul {
    margin: 18px 0;
}

.head .social li {
    margin: 0 0 0 12px;
}

.head .social a {
    margin: 0;
}

.head .foto {
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    width: 70px;
    height: 70px;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin-right: 30px;
}

.skills .title {
    margin: 0;
    line-height: 26px;
    margin-bottom: 16px;
}

.skills .title-skills {
    margin-bottom: 30px;
}

.skills .progress-bar-label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .progress-bar {
    border-width: 1px;
    border-style: solid;
    line-height: 8px;
    position: relative;
    box-shadow: none;
}

.skills .progress {
    height: 10px;
    margin-bottom: 24px;
    border-radius: 0;
    border-width: 1px;
    border-style: solid;
    box-shadow: none;
    overflow: visible;
}

.skills .progress-bar span {
    display: block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-weight: 300;
    position: absolute;
    top: -16px;
    right: -20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
}

.skills .circle-progress-block {
    text-align: center;
    width: 160px;
    display: inline-block;
    margin-left: 25px;
}

.skills .circle-progress-block input {
    font-size: 21px !important;
    font-weight: 300 !important;
    margin-top: 25px !important;
    margin-left: -135px !important;
    border-radius: 50%;
    width: 110px !important;
    height: 110px !important;
}

.skills .circle-progress {

}

.skills .circle-progress-label {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.skills .row:first-of-type {
    margin-bottom: 30px;
}
