.card {
  text-align: center;
}

.card-title {
  color: blue;
}

.card {
  margin-left: 15px;
  width: 18rem !important;
}

h4 {
  color: white;
}

.allResults {
  display: flex;
  justify-content: center;
  margin-left: 3%;
  margin-right: : 3%:
}

.searchFilter {
  justify-content: center;
  margin-bottom: 2%;
}

.dropdown {
  background: #bdc3c7;
  position: relative;
  width: 200px;
  border-radius: 3px;
  color: #444;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

.dropdown.is-opened {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  padding: 0 20px;
  justify-content: space-between;
  cursor: pointer;
}

.dropdown-options-container {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 100%;
  background: #fff;
  min-width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  transform: translateY(-40px);
  transition: transform .3s, opacity .3s;
  z-index: -1;
}

.is-opened .dropdown-options-container {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
  z-index: 5;
}

.dropdown-option {
  height: 54px;
}

.dropdown-option:hover {
  background: #e6e6e6;
}

.dropdown-inner, .dropdown-value, .dropdown-icon {
  pointer-events: none;
}

.dropdown-icon {
  transition: transform .3s;
}

.is-opened .dropdown-icon {
  transform: rotateZ(180deg);
}
