
main{
  height: 89vh;
}
.navbar{
    background-color: #16a085;
    height: 9vh;
    margin-bottom: 1%;
}
.card{
  text-align: center;
}
.card-title{
  color: blue;
}
.card{
  margin-bottom:10px;
      width: 18rem !important;

}
h4{
  color: white;
}
#subBtn{
  cursor: pointer;
}
#editProfile{
  background-color: silver;
  padding: 2px;
  text-align: center;
  border-radius: 10%;
}
.allResults{
  display: flex;
  justify-content: space-around;
}
.searchFilter{
  justify-content: center;
  margin-bottom: 2%;
}
.dropdown {
  background: #bdc3c7;
  position: relative;
  width: 200px;
  border-radius: 3px;
  color: #444;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;

}

.dropdown.is-opened {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  padding: 0 20px;
  justify-content: space-between;
  cursor: pointer;
}

.dropdown-options-container {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 100%;
  background: #fff;
  min-width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  transform: translateY(-40px);
  transition: transform .3s, opacity .3s;
  z-index: -1;
}

.is-opened .dropdown-options-container {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
  z-index: 5;
}

.dropdown-option {
  height: 54px;
}

.dropdown-option:hover {
  background: #e6e6e6;
}

.dropdown-inner,
.dropdown-value,
.dropdown-icon {
  pointer-events: none;
}

.dropdown-icon {
  transition: transform .3s;
}

.is-opened .dropdown-icon {
  transform: rotateZ(180deg);
}


footer{
  margin: 10px 0 0 0;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 10px 7px;
font-size:20px;
}
footer p{
	color: rgba(255,255,255,0.6);
	margin: 0;
}
#heart{
  color: red;
  font-size: 30px;
}
@media (min-width: 1200px) {
    .container{
        max-width: 95%;
    }
}

@media (max-width: 767PX) {
  .navbar {
    height: auto;
  }
  .navbar>.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .form-inline{
    justify-content: center;
  }
}
