<nav class="navbar bg-faded">
  <div class="container">
    <ul class="nav navbar-nav pull-sm-left">
      <h4> Welcome {{user}} </h4>
      <a class="nav-link" id="editProfile" href="#">Edit profile</a>
    </ul>
    <form class="form-inline" action="/search" method="post">
      <input class="form-control mr-sm-2 abs" type="text" name="searchInput" placeholder="Search" required>
      <button class="btn btn-primary my-2 my-sm-0 abs"  id="subBtn" type="submit">Search</button>
    </form>
    <ul class="nav navbar-nav pull-sm-right">
      <a href="/logout" class="btn btn-danger">Logout</a>
    </ul>
  </div>
</nav>
<div class="container" id="home">
  <div class="card text-center">
    <div class="card-body">
      <h4 class="card-title">Special title treatment</h4>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Enter discussion</a>
    </div>
    <div class="card-footer text-muted text-right">
      5 Comments, 3 Likes
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h4 class="card-title">Special title treatment</h4>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Enter discussion</a>
    </div>
    <div class="card-footer text-muted text-right">
      2 Comments, 1 Like
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h4 class="card-title">Special title treatment</h4>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Enter discussion</a>
    </div>
    <div class="card-footer text-muted text-right">
      4 Comments
    </div>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h4 class="card-title">Special title treatment</h4>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Enter discussion</a>
    </div>
    <div class="card-footer text-muted text-right">
      5 Comments, 3 Likes
    </div>
  </div>
</div>
