<div class="container">
  <h1>FOUNDERS AND CODERS COMMUNITY</h1>
  <p>
    Login to connect with All FAC alumni and students from all campuses
  </p>
  <a  class="btn btn-block btn-lg btn-social btn-github loggg" href="/auth/github">
    <span class="fa fa-github"></span>
    Login with GitHub</a>
    {{#if error}}
    <p> {{error}} </p>
    {{/if}}
</div>
