<div class="container" style="background-color:rgba(0, 0, 0, 0.3); width:850px" >

  <h1>FOUNDERS AND CODERS COMMUNITY</h1>
  <h2>
    Login to connect with All FAC alumni and students from all campuses
  </h2>
  <a  class="btn btn-block btn-lg btn-social btn-github loggg" href="/auth/github">
    <span class="fa fa-github"></span>
    Login with GitHub</a>
    {{#if error}}
    <p> {{error}} </p>
    {{/if}}
</div>
