<h1>update</h1>
<form id="update-form" action="/updateuser" method="post">
  <input id="updateName" type="text" name="name" value="" placeholder="name" required>
  <input id="updateEmail" type="text" name="email" value="" placeholder="email" required>
  <input id="updateBio" type="text" name="bio" value="" placeholder="bio" required>
  <input id="updateCampus" type="text" name="campus" value="" placeholder="campus" required>
  <input id="updateCohortnum" type="text" name="cohortnum" value="" placeholder="cohortnum"  required>
  <button id="submit" type="submit" name="">Update</button>
</form>