<header>
    {{#if user}}
    <nav class="navbar bg-faded">
      <div class="container">
        <ul class="nav navbar-nav pull-sm-left">
          <h4> Welcome <a href="/profile/{{user}}">{{user}} </a> </h4>
        </ul>

        <form class="form-inline" action="/search" method="GET">
          {{#unless home}}
          <input class="form-control mr-sm-2 abs" type="text" name="search" placeholder="Search by skill,name,username" required>
          <button class="btn btn-primary my-2 my-sm-0 abs"  id="subBtn" type="submit">Search</button>
          {{/unless}}
        </form>

        <ul class="nav pull-sm-right">
          <a href="/" class="btn btn-light">Home</a>
          <a href="/editprofile" class="btn btn-info">Edit profile</a>
          <!-- <a class="nav-link" id="editProfile" href="/">Home</a>
          <a class="nav-link" id="editProfile" href="/editprofile">Edit profile</a> -->
          <a href="/logout" class="btn btn-danger">Logout</a>
        </ul>
      </div>
    </nav>
    {{/if}}
</header>
